<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<!--string michael-->
	<appSettings>
		<add key="ServerName_MySQL" value="127.0.0.1"/>
		<add key="Port_MySQL" value="3306"/>
		<add key="User_MySQL" value="null"/>
		<add key="Password_MySQL" value="null"/>

		<add key="DataSource_SqlSer" value="VARGASPC\INSTA1"/>
		<add key="InitialCatalog_SqlSer" value="master"/>
		<add key="User_SqlSer" value="null"/>
		<add key="Password_SqlSer" value="null"/>
	</appSettings>
	
</configuration>